<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from demos.codeniner.com/edura/shop-catalog-sidebar-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 15:11:18 GMT -->
<head>
    <!-- METAS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TITLE -->
    <title>Butik</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/images/Butik-logo.png" />
    <!-- LOAD MAIN CSS -->

    <link href="~/css/bundle.css" rel="stylesheet" />
</head>
<body>
    <!-- WRAPPER START -->
    <div id="wrapper">
        <!-- HEADER START -->
        <section id="header">
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #B3187C;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="~/images/Butik-logo.png" alt="Butik">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
        
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                    <ul class="dropdown-menu">
                                         <li>Hesabım</li>
                                         <li><a href="/Account/Logout">Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/Account/Login">Giriş<i class="fa fa-user-o"></i></a></li>
                            }


                            <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart fa-fw"></i> Sepet (@await Component.InvokeAsync("CartSummary"))</a></li>

                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </section>
        <!-- HEADER END -->
        <!-- PAGE TITLE START -->
        <section id="title" class="container-fluid wow fadeInDown">
            <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>Shop <small>Catalog</small></h1>
                </div>
                <div class="col-xs-6 text-right breadcrumbs">
                    <ul class="list-inline list-unstyled">
                        <li><a asp-controller="Home" asp-action="Index"><b>Anasayfa</b></a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <!-- PAGE TITLE END -->
        <!-- CONTENT START -->
        @RenderBody()
        <!-- CONTENT END -->
        <!-- FOOTER START -->
        <section id="footer" style="background-color:#B3187C;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/Butik-logo.png" alt="Butik">
                        <p></p>
                        <p>Giyim alanında MODA anlayışını yaratarak kendi markasıyla yurt içi ve yurt dışı pazarlarında edindiği yeri arttırmaktadır. Özgün moda anlayışı, dünya modasını yakından takip etmesi ve uzun zaman diliminin verdiği tecrübeyi müşteri memnuniyeti ile birleştirerek aranılan bir marka haline gelmiştir.</p> 
                        <p><b>Butiğimiz ile modayı yakalayın</b>.</p>
                        <br>
                        <ul class="list-unstyled list-inline social-icons">
                            <li><a href="https://www.facebook.com/Butikcom-447905382629121/?modal=admin_todo_tour" class="facebook"><i class="fa fa-facebook facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/webutik_19/" class="instagram"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Sayfalar</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Account" asp-action="Login">Hesabım</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a asp-controller="Cart" asp-action="Index">Sepetim</a></li>


                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>İletişim</h4>
                        <p><i class="fa fa-map-pin fa-fw"></i> 35030, Bornova/İZMİR</p>
                        <p><i class="fa fa-phone fa-fw"></i> +(90) 558 123 4565</p>
                        <p><i class="fa fa-envelope fa-fw"></i> zeeynepayaz@gmail.com</p>
                    </div>
                  
                </div>
                <div class="row">
                    <hr>
                    <div class="col-md-12 text-center bottom">
                        <p>Copyright &copy; 2019 Butik - Tüm Hakları Saklıdır.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER END -->

    </div>
    <!-- WRAPPER END -->
    <!-- back to top button -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <!-- MAIN JS FILES REQUIRED ON ALL PAGES -->

    <script src="~/js/bundle.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81122143-3', 'auto');
        ga('send', 'pageview');</script>
    <!-- STYLE SWITCHER -->
    <script src="demo/demo.js"></script>
    <div id="styleswitcher">
        <input id="settings-btn" class="settings-btn" type="checkbox">
        <label for="settings-btn" class="settings-box-element"><i class="fa fa-2x fa-gear"></i></label>
        <div class="buttons-wrapper settings-box-element">
            <h4 class="text-uppercase">Change Color Style</h4>
            <p><button id="demo-lunar" class="btn demo-btn demo-lunar">Lunar (Default)</button></p>
            <p><button id="demo-blue" class="btn demo-btn demo-blue">Blue</button></p>
            <p><button id="demo-green" class="btn demo-btn demo-green">Green</button></p>
            <p><button id="demo-red" class="btn demo-btn demo-red">Red</button></p>
            <p><button id="demo-orange" class="btn demo-btn demo-orange">Orange</button></p>
        </div>
    </div>
</body>
<!-- Mirrored from demos.codeniner.com/edura/shop-catalog-sidebar-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 15:11:18 GMT -->
</html>
